// FiraGO italic font

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-UltraLightItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-UltraLightItalic.woff2") format("woff2");
    font-weight: 100; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-HairItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-HairItalic.woff2") format("woff2");
    font-weight: 100; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-ThinItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-ThinItalic.woff2") format("woff2");
    font-weight: 100; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-ExtraLightItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-TwoItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-TwoItalic.woff2") format("woff2");
    font-weight: 200; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-LightItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-LightItalic.woff2") format("woff2");
    font-weight: 300; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-BookItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-BookItalic.woff2") format("woff2");
    font-weight: 400; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-FourItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-FourItalic.woff2") format("woff2");
    font-weight: 400; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-Italic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-Italic.woff2") format("woff2");
    font-weight: 400; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-MediumItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-MediumItalic.woff2") format("woff2");
    font-weight: 500; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-SemiBoldItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600; 
    font-style: italic;
}
@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-BoldItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-BoldItalic.woff2") format("woff2");
    font-weight: 700; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-EightItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-EightItalic.woff2") format("woff2");
    font-weight: 800; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-ExtraBoldItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800; 
    font-style: italic;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Italic/FiraGO-HeavyItalic.woff") format("woff"),
         url("../../assets/Fonts/Italic/FiraGO-HeavyItalic.woff2") format("woff2");
    font-weight: 900; 
    font-style: italic;
}







// FiraGO roman font

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Roman/FiraGO-Bold.woff") format("woff"),
         url("../../assets/Fonts/Roman/FiraGO-Bold.woff2") format("woff2");
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Roman/FiraGO-Book.woff") format("woff"),
         url("../../assets/Fonts/Roman/FiraGO-Book.woff2") format("woff2");
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Roman/FiraGO-Eight.woff") format("woff"),
         url("../../assets/Fonts/Roman/FiraGO-Eight.woff2") format("woff2");
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Roman/FiraGO-ExtraBold.woff") format("woff"),
         url("../../assets/Fonts/Roman/FiraGO-ExtraBold.woff2") format("woff2");
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: "FiraGO";
    src: url("../../assets/Fonts/Roman/FiraGO-ExtraLight.woff") format("woff"),
         url("../../assets/Fonts/Roman/FiraGO-ExtraLight.woff2") format("woff2");
    font-weight: 900; 
    font-style: italic;
}